<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nifty First</title>
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
        <!--suppress JSUnresolvedLibraryURL -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <!--suppress JSUnresolvedLibraryURL -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
            let oi_PCR_avg; 
            let lineChart;
            let liveChart;
            function refreshTable() {
                $.getJSON('/api/table-data', function(data) {
                    var tableBody = '';
                    var tableBody_next = '';
                    var tableBody_far = '';
                    var curr_time = '<h4 class="text-success">' + data.curr_time + '</h4>';
                    $('#curr_time').html(curr_time);
                    let tot_CE_oi = 0
                    let tot_PE_oi = 0
                    let tot_CE_oi_next = 0
                    let tot_PE_oi_next = 0
                    let tot_CE_oi_far = 0
                    let tot_PE_oi_far = 0
                    let tot_CE_vol = 0
                    let tot_PE_vol = 0
                    let tot_CE_vol_next = 0
                    let tot_PE_vol_next = 0
                    let tot_CE_vol_far = 0
                    let tot_PE_vol_far = 0
                    
                    data.oi_data.forEach(dataRow => {
                        var strikePrice = dataRow.strikePrice;
                        var ce_openInterest = dataRow.ce_openInterest;
                        var pe_openInterest = dataRow.pe_openInterest;
                        var ce_volume = dataRow.ce_volume;
                        var pe_volume = dataRow.pe_volume;
                        tot_CE_oi +=  ce_openInterest;
                        tot_PE_oi +=  pe_openInterest;
                        tot_CE_vol += ce_volume;
                        tot_PE_vol += pe_volume;
                        tableBody += '<tr><td>' + (strikePrice)/100 + '</td><td>' + ce_openInterest + '</td><td>' + pe_openInterest + '</td><td>' + ce_volume + '</td><td>' + pe_volume + '</td></tr>';
                    });
                    data.oi_data_next.forEach(dataRow => {
                        var strikePrice = dataRow.strikePrice;
                        var ce_openInterest_next = dataRow.ce_openInterest;
                        var pe_openInterest_next = dataRow.pe_openInterest;
                        var ce_volume_next = dataRow.ce_volume;
                        var pe_volume_next = dataRow.pe_volume;
                        tot_CE_oi_next += ce_openInterest_next;
                        tot_PE_oi_next += pe_openInterest_next;
                        tot_CE_vol_next += ce_volume_next;
                        tot_PE_vol_next += pe_volume_next;
                        tableBody_next += '<tr><td>' + (strikePrice)/100 + '</td><td>' + ce_openInterest_next + '</td><td>' + pe_openInterest_next + '</td><td>' + ce_volume_next + '</td><td>' + pe_volume_next + '</td></tr>';
                    });
                    data.oi_data_far.forEach(dataRow => {
                        var strikePrice = dataRow.strikePrice;
                        var ce_openInterest_far = dataRow.ce_openInterest;
                        var pe_openInterest_far = dataRow.pe_openInterest;
                        var ce_volume_far = dataRow.ce_volume;
                        var pe_volume_far = dataRow.pe_volume;
                        tot_CE_oi_far += ce_openInterest_far;
                        tot_PE_oi_far += pe_openInterest_far;
                        tot_CE_vol_far += ce_volume_far;
                        tot_PE_vol_far += pe_volume_far;
                        tableBody_far += '<tr><td>' + (strikePrice)/100 + '</td><td>' + ce_openInterest_far + '</td><td>' + pe_openInterest_far + '</td><td>' + ce_volume_far + '</td><td>' + pe_volume_far + '</td></tr>';
                    });
                    var oi_PCR = tot_PE_oi/tot_CE_oi;
                    var oi_PCR_next = tot_PE_oi_next/tot_CE_oi_next;
                    var oi_PCR_far = tot_PE_oi_far/tot_CE_oi_far;
                    var vol_PCR = tot_PE_vol/tot_CE_vol;
                    var vol_PCR_next = tot_PE_vol_next/tot_CE_vol_next;
                    var vol_PCR_far = tot_PE_vol_far/tot_CE_vol_far;

                    if (oi_PCR != null && oi_PCR_next != null && oi_PCR_far != null) {
                        oi_PCR_avg = (oi_PCR+oi_PCR_next+oi_PCR_far)/3;
                    }
                   
                    oi_PCR = oi_PCR.toFixed(5);
                    oi_PCR_next = oi_PCR_next.toFixed(5);
                    oi_PCR_far = oi_PCR_far.toFixed(5);
                    oi_PCR_avg = oi_PCR_avg.toFixed(5);
                    vol_PCR = vol_PCR.toFixed(5);
                    vol_PCR_next = vol_PCR_next.toFixed(5);
                    vol_PCR_far = vol_PCR_far.toFixed(5);
                    $('#ce-oi').html(tot_CE_oi);
                    $('#pe-oi').html(tot_PE_oi);
                    $('#ce-oi-next').html(tot_CE_oi_next);
                    $('#pe-oi-next').html(tot_PE_oi_next);
                    $('#ce-oi-far').html(tot_CE_oi_far);
                    $('#pe-oi-far').html(tot_PE_oi_far);
                    $('#oi-pcr').html(oi_PCR);
                    $('#oi-pcr-next').html(oi_PCR_next);
                    $('#oi-pcr-far').html(oi_PCR_far);
                    $('#oi-pcr-avg').html(oi_PCR_avg);
                    $('#tot-ce-vol').html(tot_CE_vol);
                    $('#tot-pe-vol').html(tot_PE_vol);
                    $('#tot-ce-vol-next').html(tot_CE_vol_next);
                    $('#tot-pe-vol-next').html(tot_PE_vol_next);
                    $('#tot-ce-vol-far').html(tot_CE_vol_far);
                    $('#tot-pe-vol-far').html(tot_PE_vol_far);
                    $('#vol-pcr').html(vol_PCR);
                    $('#vol-pcr-next').html(vol_PCR_next);
                    $('#vol-pcr-far').html(vol_PCR_far);
                    $('#table-body').html(tableBody);
                    $('#table-body-next').html(tableBody_next);
                    $('#table-body-far').html(tableBody_far);
                });
            }

            function sendToServer() {
                $.getJSON('/api/table-data', function(data) {
                    if (oi_PCR_avg != null && data.curr_time != null) {
                        var payload = {
                            curr_time: data.curr_time,
                            oi_pcr_avg: oi_PCR_avg
                            
                        };

                        $.ajax({
                            type: 'POST',
                            url: '/api/save-oi-pcr-avg',
                            data: JSON.stringify(payload),
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function(response) {
                                console.log('oi_PCR_avg and current time sent to server successfully.');
                            },
                            error: function(error) {
                                console.error('Error sending oi_PCR_avg and current time to server:', error);
                            }
                        });
                    }
                });
            }
         
        setInterval(refreshTable, 1000); 
        setInterval(sendToServer, 60000);

    });
</script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: Array(30).fill("00:00:00"),
                datasets: [{
                    label: "OI PCR",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: Array(30).fill(null),
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Live OI PCR - NIFTY'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            stepSize: 0.01,
                            //min: 0.5,
                            //max: 1.5,
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');
        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            const newTime = data.curr_time;
            
            if (!config.data.labels.includes(newTime)) {
                if (config.data.labels.length === 30) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }
                config.data.labels.push(newTime);
                config.data.datasets[0].data.push(data.oi_pcr_avg);
                lineChart.update();
            }
        }
    });
</script>
</head>
<body>
    <h2 class="heading-section">Live OI Changee</h2>

    <div class="container" style="background-color: black;">
        <p class="heading-section-50" id="oi-pcr-avg"></p> 
        <p id="curr_time"></p> 
    </div>

    <div class="container">
        <div class="row">
        <div class="table">
            <p class="heading-section">Current Expiry</p>
            <div class="row">
                <div class="col">
                    <p  class="text-white-50"> OI PCR</p>
                    <p id="ce-oi" class="text-light"></p>
                    <p id="pe-oi" class="text-light"></p>
                    <p id="oi-pcr" class="heading-section"></p>
                </div>
                <div class="col">
                    <p  class="text-white-50"> VOL PCR</p>
                    <p id="tot-ce-vol" class="text-light"></p>
                    <p id="tot-pe-vol" class="text-light"></p>
                    <p id="vol-pcr" class="heading-section"></p>
                </div>   
            </div>
            

        </div>

        <div class="table">
            <p class="heading-section">Next Expiry</p>
            <div class="row">
                <div class="col">
                    <p  class="text-white-50"> OI PCR</p>
                    <p id="ce-oi-next" class="text-light"></p>
                    <p id="pe-oi-next" class="text-light"></p>
                    <p id="oi-pcr-next" class="heading-section"></p>
                </div>
                <div class="col">
                    <p  class="text-white-50"> VOL PCR</p>
                    <p id="tot-ce-vol-next" class="text-light"></p>
                    <p id="tot-pe-vol-next" class="text-light"></p>
                    <p id="vol-pcr-next" class="heading-section"></p>
                </div>   
            </div>

        </div>

        <div class="table">
            <p class="heading-section">Far Month Expiry</p>
            <div class="row">
                <div class="col">
                    <p  class="text-white-50"> OI PCR</p>
                    <p id="ce-oi-far" class="text-light"></p>
                    <p id="pe-oi-far" class="text-light"></p>
                    <p id="oi-pcr-far" class="heading-section"></p>
                </div>
                <div class="col">
                    <p  class="text-white-50"> VOL PCR</p>
                    <p id="tot-ce-vol-far" class="text-light"></p>
                    <p id="tot-pe-vol-far" class="text-light"></p>
                    <p id="vol-pcr-far" class="heading-section"></p>
                </div>   
            </div>

        </div> 
        </div>  
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
